<div class="grid-container">
    <div class="grid--card">{{ render '@grid--card'}}</div>
    <div class="right">
        <h4 class="right top">BREAKING NEWS</h4>
        <h3>Excepteur sint.</h3>
        <p class="right p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et
            dolore magna aliqua.</p>
        {{ render '@webpage'}}
        {{ render '@div'}}
        <h3>Excepteur sint.</h3>
        <p class="right p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et
            dolore magna aliqua.</p>
        {{ render '@webpage'}}
        {{ render '@div'}}
        <h3>Excepteur sint.</h3>
        <p class="right p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et
            dolore magna aliqua.</p>
        {{ render '@webpage'}}
        {{ render '@div'}}
        <h3>Excepteur sint.</h3>
        <p class="right p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et
            dolore magna aliqua.</p>
        {{ render '@webpage'}}
        {{ render '@div'}}
    </div>

</div>