<div class="grid-container">
    {{ render '@grid--card'}}
    <div>
        <h4 class="right top">BREAKING NEWS</h4>
        {{ render '@news' }}
        {{ render '@news' }}
        {{ render '@news' }}
        {{ render '@news' }}
    </div>
</div>