<div class="grid-container--card">
    <div class="grid-container--card card1">{{ render '@card'}}</div>
    <div class="grid-card big">{{ render '@card--big'}}</div>
    <div class="grid-container--card card3">{{ render '@card'}}</div>
    <div class="grid-container--card card4">{{ render '@card'}}</div>
    <div class="grid-container--card card5">{{ render '@card'}}</div>
</div>